rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow public read and write access for development.
      // WARNING: This is an insecure rule and must be changed for production.
      allow read, write;
    }
  }
}
